@model IEnumerable<AquaVitae.Models.Reunist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeboorteDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Corpsjaar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefoonnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Voornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achternaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeboorteDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Corpsjaar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefoonnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
